@model List<CRUDemo.Models.CandidateInfo>
...
<h1>List of STATES</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table border="1" cellpadding="6">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @*@Html.Hidden("candidates.Index", (@i + 10))*@
                    @Html.TextBox("candidates[" + @i + "].ID",
                              Model[i].ID, new { @readonly = "readonly" })
                </td>
            <td>
                @Html.TextBox("candidates[" + @i + "].State",
                          Model[i].State)
        </td>
        <td>
            @Html.TextBox("candidates[" + @i + "].Republicans",
                      Model[i].Republicans)
    </td>
    <td>
        @Html.TextBox("candidates[" + @i + "].Democrats",
                  Model[i].Democrats)
</td>
</tr>
}
        <tr>
            <td colspan="4">
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}